<div class="selecao-idade">
  <ul>
    <li class="title-tipo">{{ tipoIdade }}</li>
    <li class="subtitle-tipo">{{ periodoIdade }}</li>
    <li>
      <button mat-mini-fab class="decremento">
        <img
          src="\assets\icones\do_not_disturb_on.png"
          alt="Operador de subtração"
        />
      </button>
      <span>1</span>
      <button mat-mini-fab class="incremento">
        <img src="\assets\icones\add_circle.png" alt="Operador de adição" />
      </button>
    </li>
  </ul>
</div>
