.selecao-idade {
    display: flex;
    justify-content: space-between;
    ul {
      list-style-type: none;
      margin: 0 0 0 -1em;
      padding: 0;
      li {
        margin-bottom: 10px;
        margin: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #1D1B20;
        text-align: start;
        padding: 0;
        span {
            vertical-align: middle;
            padding: 0 12px;
        }
        &.title-tipo {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;
        }
        &.subtitle-tipo {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
        }
    }
    }
    .incremento {
        background-color: #E8DEF8;
        box-shadow: none;
    }
    .decremento {
        background-color: #1D1B201F;
        box-shadow: none;
    }
  }
