.modal {
    border: 1px solid #1D1B20;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: black;
    h1 {
      font-size: 32px;
      padding: 12px;
    }
    .selecao-categoria {
      margin-top: 32px;
      color: #1D1B20;
    }
    .modal-actions {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      button {
        margin: 0 8px;
        width: 100%;
      }
    }
    .wrapper-container {
      display: flex;
      gap: 30px;
    }

    mat-dialog-actions {
      display: flex;
      flex-wrap: 15px;
      gap: 15px;
    }

    mat-dialog-actions button {
      height: 45px;
      flex-grow: 1;
    }

    .subtitle {
      font-size: 20px;
      color: black;
    }
  }